<div class="contenttype">Content Type: {{body?.contentType}}</div>

<div [ngSwitch]="responseType">
    <div *ngSwitchCase="'json'">
        <app-display-response-body-json [body]="body"></app-display-response-body-json>
    </div>
    <div *ngSwitchCase="'html'">
        <app-display-response-body-html [body]="body"></app-display-response-body-html>
    </div>
    <div *ngSwitchCase="'image'">
        <app-display-response-body-image [body]="body"></app-display-response-body-image>
    </div>
    <span *ngSwitchDefault>
        <app-display-response-body-default [body]="body"></app-display-response-body-default>
    </span>
  </div>
