<div class="contenttype">Content Type: {{contenttype}}</div>

<div [ngSwitch]="responseType">
    <div *ngSwitchCase="'json'">
        <app-display-response-body-json [data]="data"></app-display-response-body-json>
    </div>
    <div *ngSwitchCase="'image'">
        <app-display-response-body-image [data]="data" [contenttype]="contenttype"></app-display-response-body-image>
    </div>
    <span *ngSwitchDefault>
        <app-display-response-body-default [data]="data"></app-display-response-body-default>
    </span>
  </div>
