<div class="action-header">
    <div class="verb-basics action-verb">
        <mat-form-field class="verb-selector-form-field">
            <mat-label>http verb</mat-label>
            <mat-select [(value)]="verb">
                <mat-option value="GET">GET</mat-option>
                <mat-option value="POST">POST</mat-option>
                <mat-option value="PATCH">PATCH</mat-option>
                <mat-option value="DELETE">DELETE</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="verb-basics action-protocol">
        <mat-form-field class="protocol-selector-form-field">
            <mat-label>protocol</mat-label>
            <mat-select [(value)]="protocol">
                <mat-option value="HTTP">HTTP</mat-option>
                <mat-option value="HTTPS">HTTPS</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="verb-basics action-url">
        <mat-form-field class="url-form-field">
            <mat-label>URL</mat-label>
            <!-- <input matInput [(value)]="protocol"> -->
            <input matInput placeholder="Input" [(ngModel)]="url">
        </mat-form-field>
    </div>

    <div class="verb-basics action-send">
        <button mat-raised-button color="primary" (click)='test()'>Send</button>
    </div>
</div>

<div class="response">
    <h2>Response</h2>
    <div>
        <pre>{{response | json}}</pre>
    </div>
</div>