<div class="displayoptions">
  <mat-radio-group aria-label="Validation Type">
    <mat-radio-button value={{validationType.None}} name="view" (change)="onTypeChange($event)" [checked] = "visibleData.type == validationType.None">None</mat-radio-button>
    <mat-radio-button value={{validationType.Headers}} name="view" (change)="onTypeChange($event)" [checked] = "visibleData.type == validationType.Headers">Headers</mat-radio-button>
    <mat-radio-button value={{validationType.Body}} name="view" (change)="onTypeChange($event)" [checked] = "visibleData.type == validationType.Body">Body</mat-radio-button>
    <mat-radio-button value={{validationType.HeadersBody}} name="view" (change)="onTypeChange($event)" [checked] = "visibleData.type == validationType.HeadersBody">Headers & Body</mat-radio-button>
  </mat-radio-group>
</div>

<div class="httpresult" *ngIf="responsecode">
  <mat-form-field>
    <mat-label>Http Response Code</mat-label>
    <mat-select [(value)]="visibleData.httpCode">
      <mat-option *ngFor="let code of validateResponse.httpResponses" [value]="code.code">{{code.code}} - {{code.desc}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="headers">
  <p>Header validation will go here</p>
</div>

<div *ngIf="body">
  <div class="displayoptions">
    <mat-radio-group aria-label="Payload Validation Type">
      <mat-radio-button value={{validationTypePayload.None}} name="view" (change)="onPayloadTypeChange($event)" [checked] = "visibleData.body == validationTypePayload.None">None</mat-radio-button>
      <mat-radio-button value={{validationTypePayload.JsonSchema}} name="view" (change)="onPayloadTypeChange($event)" [checked] = "visibleData.body == validationTypePayload.JsonSchema">Json Schema</mat-radio-button>
    </mat-radio-group>  
  </div>    
  
  <json-editor [options]="editorOptions" [data]="jsonObj" (change)="updateData($event)" (jsonChange)="updateData($event)" #editor *ngIf="visibleData.body == validationTypePayload.JsonSchema"></json-editor>
</div>
