<app-solution-explorer></app-solution-explorer>

<mat-tab-group animationDuration="0ms" #tabs>
  <mat-tab *ngFor="let action of state.actions">
    <app-rest-action [(action)]=action.action (actionChange)="onActionChange($event)"></app-rest-action>
    <ng-template mat-tab-label>{{action.action.name}}
      <button class="remove_button" mat-icon-button (click)="removeAction(action.action.id)">
        <mat-icon class="remove_icon">cancel</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
  <mat-tab class="add_tab" disabled>
    <ng-template mat-tab-label>
      <button class="add_button" mat-icon-button (click)="addAction($event)">
        <mat-icon class="add_icon">add_circle</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>