<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Restesy API Testing Tool</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button class="remove_button" mat-icon-button (click)="saveRequest()">
      <mat-icon>save</mat-icon>
    </button>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">new</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div class="menubar">
      <button mat-button [matMenuTriggerFor]="file">File</button>
      <mat-menu #file="matMenu">
        <button mat-menu-item (click)="openSolution()">Open Solution</button>
        <button mat-menu-item [matMenuTriggerFor]="recentSolutions">Open Recent</button>
        <button mat-menu-item (click)="saveSolution()">Save Solution</button>
        <button mat-menu-item (click)="closeSolution()">Close Solution</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="newRequest()">New Request</button>
        <button mat-menu-item (click)="saveRequest()">Save</button>
        <button mat-menu-item (click)="saveAsRequest()">Save As</button>
      </mat-menu>

      <mat-menu #recentSolutions>
        <button mat-menu-item (click)="openSoution(item)" *ngFor="let item of state.recentSolutions">
          {{ item.name }}
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="solutionMenu">Solution</button>
      <mat-menu #solutionMenu="matMenu">
        <button mat-menu-item (click)="createEnvironment()" [disabled]="actionDisabled('createEnvironment')">Create Environment</button>
        <button mat-menu-item (click)="deleteEnvironment()" [disabled]="actionDisabled('deleteEnvironment')">Delete Environment</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="explorer">
  <app-solution-explorer [solution]="solution" (openFile)="loadAction($event)" (onSelectionChange)="onSelectionChange($event)"></app-solution-explorer>
</div>

<div class="opendocuments" [hidden]="!actionsVisible()">
  <mat-tab-group animationDuration="0ms" #tabs>
    <mat-tab *ngFor="let action of currentSession().actions" labelClass='dirty'>
      <ng-template mat-tab-label>
        <mat-icon class="dirty" *ngIf="action.dirty == true">circle</mat-icon>
        <label [matTooltip]="action.fullFilename">{{action.action.name}}</label>
        <button class="remove_button" mat-icon-button (click)="removeAction(action.action.id)">
          <mat-icon class="remove_icon">cancel</mat-icon>
        </button>
      </ng-template>
      <app-rest-action [solution]="solution" [(action)]=action.action [fullFilename]="action.fullFilename" (actionChange)="onActionChange(action)" (dirtyChange)="onDirtyChange(action,$event)"></app-rest-action>
    </mat-tab>

    <mat-tab class="add_tab" disabled>
      <ng-template mat-tab-label>
        <button class="add_button" mat-icon-button (click)="addAction($event)">
          <mat-icon class="add_icon">add_circle</mat-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="opendocuments" [hidden]="!variablesVisible()">
  <app-settings-manage-variables [(environment)]="selectedEnvironment"></app-settings-manage-variables>
</div>

<div class="opendocuments" [hidden]="!authenticationVisible()">
  <app-settings-manage-authentication></app-settings-manage-authentication>
</div>

<div class="opendocuments" [hidden]="!environmentVisible()">
  <app-settings-manage-environment [(environment)]="selectedEnvironment" (environmentChange)="environmentChange($event)"></app-settings-manage-environment>
</div>
