<div class="request-header">
  <div class="run-title">
    <span class="run-of">{{ action.name }} ›</span>
    <input
      class="name-input"
      [ngModel]="_run.name"
      (ngModelChange)="onNameChange($event)"
      placeholder="Untitled run"
      aria-label="Run name"
      spellcheck="false"
    />
    <span class="fr-pill run-pill"><mat-icon>tune</mat-icon>Run</span>
  </div>
  <div class="url-bar" matTooltip="The method and URL come from the request. Add parameters below to extend it.">
    <span class="verb fr-method" [attr.data-verb]="action.verb">{{ action.verb | verbLabel }}</span>
    <app-code-editor
      class="url-input"
      [singleLine]="true"
      [readOnly]="true"
      [value]="fullUrl"
    ></app-code-editor>
    <button mat-flat-button class="send" (click)="test()" matTooltip="Send (Ctrl+Enter)">
      Send
    </button>
  </div>
</div>

<mat-tab-group class="fr-subtabs request-tabs" animationDuration="0ms" [mat-stretch-tabs]="false">
  <mat-tab>
    <ng-template mat-tab-label>
      Params
      @if (count(_run.parameters); as n) {
        <span class="count">{{ n }}</span>
      }
    </ng-template>
    <div class="tab-body">
      <app-edit-request-parameters
        [(params)]="_run.parameters"
        (paramsChange)="onParamChange($event)"
        [inherited]="inheritedParams()"
        inheritedSource="request"
      ></app-edit-request-parameters>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Auth<span class="count">{{ authLabel(_run.authentication.authentication) }}</span>
    </ng-template>
    <div class="tab-body">
      <app-edit-request-authentication
        [(auth)]="_run.authentication"
        (authChange)="onAuthChange($event)"
      ></app-edit-request-authentication>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Headers
      @if (count(_run.headers); as n) {
        <span class="count">{{ n }}</span>
      }
    </ng-template>
    <div class="tab-body">
      <app-edit-request-headers
        [(headers)]="_run.headers"
        (headersChange)="onHeadersChange($event)"
        [inherited]="inheritedHeaders()"
        inheritedSource="request"
      ></app-edit-request-headers>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Variables
      @if (count(_run.variables); as n) {
        <span class="count">{{ n }}</span>
      }
    </ng-template>
    <div class="tab-body">
      <app-settings-manage-variables
        [(variables)]="_run.variables"
        (variablesChange)="onVariablesChange($event)"
      ></app-settings-manage-variables>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Secrets
      @if (count(_run.secrets); as n) {
        <span class="count">{{ n }}</span>
      }
    </ng-template>
    <div class="tab-body">
      <app-settings-manage-secrets
        [(secrets)]="_run.secrets"
        (secretsChange)="onSecretsChange($event)"
      ></app-settings-manage-secrets>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Validation</ng-template>
    <div class="tab-body">
      <app-edit-request-validation
        [(validation)]="_run.validation"
        (validationChange)="onValidationChange($event)"
        [showInherit]="true"
      ></app-edit-request-validation>
    </div>
  </mat-tab>
</mat-tab-group>
