.displayoptions {
    /* margin-top: 5px; */
    margin-bottom: 5px;
    padding-bottom: 15px;
    background-color: lightgray;
}

.formattedhtml {
    white-space: pre
}

.rawhtml {
    white-space: pre
}

.mat-radio-button
{
    margin-left: 10px;
    margin-right: 20px;
}
