.displayoptions {
    /* margin-top: 5px; */
    margin-bottom: 5px;
    padding-bottom: 15px;
    background-color: lightgray;
}

.formattedhtml {
    white-space: pre
}

.rawhtml {
    white-space: pre
}

.mat-radio-button
{
    margin-left: 10px;
    margin-right: 20px;
}

/* font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
letter-spacing: normal;
font-family: Roboto, "Helvetica Neue", sans-serif;
-webkit-tap-highlight-color: rgba(0,0,0,0);
user-select: none;
cursor: pointer;
display: inline-flex;
align-items: center;
white-space: nowrap;
vertical-align: middle;
width: 100%; */