.displayoptions {
    /* margin-top: 5px; */
    margin-bottom: 5px;
    padding-bottom: 15px;
    background-color: lightgray;
}

.formattedhtml {
    white-space: pre
}

.rawhtml {
    white-space: pre
}

.rb {
    margin-left: 50px;
    margin-top: 10px;
}