<div class="response">
    <h2>Response</h2>
    <div class="status" attr.level={{getlevel()}}>
        <div class="statustext" attr.data-value="{{response.status}}">{{response.status}}</div>
        <div class="statustext" attr.data-value="{{response.status}}">-</div>
        <div class="statustext">{{response.statusText}}</div>
    </div>
    <div>
        <h3>Body</h3>
        <ngx-json-viewer [json]="response.data"></ngx-json-viewer>
    </div>
    <div>
        <h3>Headers</h3>
        <pre>{{response.headers| json}}</pre>x
    </div>
    <div>
        <!-- <pre>{{response | json}}</pre>x -->
    </div>
</div>