<div class="displayoptions">
  <mat-radio-group aria-label="View Options">
    <mat-radio-button
      class="rb"
      value="raw"
      name="view"
      (change)="onViewChange($event)"
      [checked]="selectedview == 'raw'"
      >Raw Response</mat-radio-button
    >
    <mat-radio-button
      class="rb"
      value="formatted"
      name="view"
      (change)="onViewChange($event)"
      [checked]="selectedview == 'formatted'"
      >Formatted Html</mat-radio-button
    >
    <mat-radio-button
      class="rb"
      value="preview"
      name="view"
      (change)="onViewChange($event)"
      [checked]="selectedview == 'preview'"
      >Preview</mat-radio-button
    >
  </mat-radio-group>
</div>

@if (selectedview == "raw") {
  <div class="rawhtml">{{ rawhtml }}</div>
}

@if (selectedview == "formatted") {
  <div class="formattedhtml">{{ formattedhtml }}</div>
}

@if (selectedview == "preview") {
  <div [innerHTML]="rawhtml"></div>
}
