<div class="request-header">
  <input
    class="name-input"
    [ngModel]="action.name"
    (ngModelChange)="onNameChange($event)"
    placeholder="Untitled request"
    aria-label="Request name"
    spellcheck="false"
  />
  <div class="url-bar">
    <mat-select
      class="verb-select"
      [(value)]="action.verb"
      (selectionChange)="onVerbChange($event)"
      panelWidth="120px"
      aria-label="HTTP method"
    >
      <mat-select-trigger>
        <span class="fr-method" [attr.data-verb]="action.verb">{{ action.verb | verbLabel }}</span>
      </mat-select-trigger>
      @for (verb of verbs; track verb) {
        <mat-option [value]="verb">
          <span class="fr-method" [attr.data-verb]="verb">{{ verb | verbLabel }}</span>
        </mat-option>
      }
    </mat-select>
    <app-code-editor
      #urlEditor
      class="url-input"
      [singleLine]="true"
      [value]="urlText"
      (valueChange)="onUrlChange($event)"
      (enter)="test()"
      placeholder="Enter a URL, e.g. https://api.example.com/users"
    ></app-code-editor>
    <button mat-flat-button class="send" (click)="test()" matTooltip="Send (Ctrl+Enter)">
      Send
    </button>
  </div>
</div>

<mat-tab-group class="fr-subtabs request-tabs" animationDuration="0ms" [mat-stretch-tabs]="false">
  <mat-tab>
    <ng-template mat-tab-label>
      Params
      @if (count(action.parameters); as n) {
        <span class="count">{{ n }}</span>
      }
    </ng-template>
    <div class="tab-body">
      <app-edit-request-parameters
        [(params)]="action.parameters"
        (paramsChange)="onParamChange($event)"
      ></app-edit-request-parameters>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Auth<span class="count">{{ authLabel(action.authentication.authentication) }}</span>
    </ng-template>
    <div class="tab-body">
      <app-edit-request-authentication
        [(auth)]="action.authentication"
        (authChange)="onAuthChange($event)"
      ></app-edit-request-authentication>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Headers
      @if (count(action.headers); as n) {
        <span class="count">{{ n }}</span>
      }
    </ng-template>
    <div class="tab-body">
      <app-edit-request-headers
        [(headers)]="action.headers"
        (headersChange)="onHeadersChange($event)"
      ></app-edit-request-headers>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Body<span class="count">{{ bodyLabel(action.body.contentType) }}</span>
    </ng-template>
    <div class="tab-body fill">
      <app-edit-request-body
        [(body)]="action.body"
        (bodyChange)="onBodyChange($event)"
      ></app-edit-request-body>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Validation</ng-template>
    <div class="tab-body">
      <app-edit-request-validation
        [(validation)]="action.validation"
        (validationChange)="onValidationChange($event)"
      ></app-edit-request-validation>
    </div>
  </mat-tab>
</mat-tab-group>
