<div class="action-header">
    <div class="verb-basics action-verb">
        <mat-form-field class="verb-selector-form-field">
            <mat-label>http verb</mat-label>
            <mat-select [(value)]="action.verb">
                <mat-option value="get">GET</mat-option>
                <mat-option value="post">POST</mat-option>
                <mat-option value="patch">PATCH</mat-option>
                <mat-option value="delete">DELETE</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="verb-basics action-protocol">
        <mat-form-field class="protocol-selector-form-field">
            <mat-label>protocol</mat-label>
            <mat-select [(value)]="action.protocol">
                <mat-option value="http">HTTP</mat-option>
                <mat-option value="https">HTTPS</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="verb-basics action-url">
        <mat-form-field class="url-form-field">
            <mat-label>URL</mat-label>
            <!-- <input matInput [(value)]="protocol"> -->
            <input matInput placeholder="Input" [(ngModel)]="action.url">
        </mat-form-field>
    </div>

    <div class="verb-basics action-send">
        <button mat-raised-button color="primary" (click)='test()'>Send</button>
    </div>
</div>
<div>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Body"><app-edit-request-body></app-edit-request-body></mat-tab>
        <mat-tab label="Headers"><app-edit-request-headers></app-edit-request-headers></mat-tab>
        <mat-tab label="Paramaters"><app-edit-request-paramaters></app-edit-request-paramaters></mat-tab>
    </mat-tab-group>
</div>