:host {
    .treeview-item {
        .treeview-item {
            margin-left: .5rem !important;
            width: 100%;
        }
    }
}

.filePrefix {
    font-size: 9px;
    color: olive;
    font-weight: bold;
    letter-spacing: -.2px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.row-item {
    cursor: pointer;
}

.selected {
    background-color: grey;
    border-color: black;
    border-style: solid;
}