<div class="contenttype">Content Type: {{ body?.contentType }}</div>

<div>
  @switch (responseType) {
    @case ("json") {
      <div>
        <app-display-response-body-json
          [body]="body"
        ></app-display-response-body-json>
      </div>
    }
    @case ("xml") {
      <div>
        <app-display-response-body-xml
          [body]="body"
        ></app-display-response-body-xml>
      </div>
    }
    @case ("html") {
      <div>
        <app-display-response-body-html
          [body]="body"
        ></app-display-response-body-html>
      </div>
    }
    @case ("image") {
      <div>
        <app-display-response-body-image
          [body]="body"
        ></app-display-response-body-image>
      </div>
    }
    @default {
      <span>
        <app-display-response-body-default
          [body]="body"
        ></app-display-response-body-default>
      </span>
    }
  }
</div>
