table {
    width: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    padding-left: 0px;
}

.mat-column-isdelete {
    padding-left: 0px;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 1% !important;
    width: 1% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-key {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

.mat-column-value {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 56% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    word-break: break-word;
    
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-header-cell {
    font-weight: bolder;
    font-size: small;
    color: black;
    background-color: rgb(221, 217, 217);
  }

  .addparam
  {
    padding: 10px;
    background-color: rgb(221, 217, 217);
  }