.xmlformatted {
    white-space:pre; 
    font-size:12px; 
    font-family:monospace;
}

.xmlraw {

}

.displayoptions {
    margin-bottom: 5px;
    padding-bottom: 15px;
    background-color: lightgray;
}

.rb {
    margin-left: 50px;
    margin-top: 10px;
}