@if (runId) {
  <app-rest-action-run
    [(action)]="_action"
    [collection]="collection"
    [runId]="runId"
    (actionChange)="onActionChange($event)"
    (nameChange)="onNameChange($event)"
  ></app-rest-action-run>
} @else {
  <app-split-pane>
    <app-edit-request
      splitFirst
      [(action)]="_action"
      (actionChange)="onActionChange($event)"
      (execute)="executeAction($event)"
    ></app-edit-request>
    <app-display-response
      splitSecond
      [response]="response"
      [sending]="sending"
    ></app-display-response>
  </app-split-pane>
}
