<ng-template #itemTemplate let-item="item">
  <div class="form-inline row-item" [ngClass]="{
    'selected' : item.value.key == selected,
    'unselected' : item.value.key != selected
 }" (click)="onClick(item)" (dblclick)="onDblClick(item)">
    <i *ngIf='item.value.type=="dir"' class="mr-1" (click)="toggle(item)" aria-hidden="true" [ngSwitch]="item.collapsed">
      <svg *ngSwitchCase="true" width="0.8rem" height="0.8rem" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
      </svg>
      <svg *ngSwitchCase="false" width="0.8rem" height="0.8rem" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
      </svg>
    </i>
    <i *ngIf='item.value.type=="file"' class="mr-1 filePrefix" (click)="toggle(item)" aria-hidden="true" [ngSwitch]="item.collapsed">
      RE
    </i>
    <i *ngIf='item.value.type=="system"' class="mr-1 filePrefix" (click)="toggle(item)" aria-hidden="true" [ngSwitch]="item.collapsed">
      SYS
    </i>
    <i *ngIf='item.value.type=="environment"' class="mr-1 filePrefix" (click)="toggle(item)" aria-hidden="true" [ngSwitch]="item.collapsed">
      ENV
    </i>
    <i *ngIf='item.value.type=="run"' class="mr-1 filePrefix" (click)="toggle(item)" aria-hidden="true" [ngSwitch]="item.collapsed">
      RUN
    </i>
    {{item.text}}
  </div>
</ng-template>


<ng-template #branch let-items="items">
  <ul class="tree">
    <ng-container *ngFor="let item of items">
      <li *ngIf="isVisible(item)">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
        <ng-container *ngIf="isExpanded(item)">
          <ng-container *ngTemplateOutlet="branch; context: { items: item.children }"></ng-container>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</ng-template>

<div class="treeview-container">
  <input class="filter" type="text" placeholder="Filter" [(ngModel)]="filter">
  <ng-container *ngIf="items.length > 0; else noItems">
    <ng-container *ngTemplateOutlet="branch; context: { items: items }"></ng-container>
  </ng-container>
  <ng-template #noItems><div class="no-items">No items found</div></ng-template>
</div>